# URL de conexión a la base de datos (PostgreSQL)
DATABASE_URL=postgres://usuario:password@localhost:5432/food_truck_db

# Puerto del servidor backend
PORT=3000

# Entorno de ejecución
NODE_ENV=development

# Clave secreta para firmar los tokens JWT
JWT_SECRET=tu_contraseña_aqui

# URL del frontend para permitir peticiones (CORS)
CORS_ORIGIN=http://localhost:5173